.lines-container {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    margin-bottom: 5px;
}

.line span {
    width: 50%;
    padding: 5px;
    white-space: pre-wrap;
}

.chunk1, .chunk2 {
    width: 50%;
}

.diff {
    background-color: #fdd; /* Light red background for lines with differences */
}

.detail-container {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.detail-line {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    white-space: pre-wrap;
    margin-bottom: 5px;
}

.detail-line span {
    display: inline-block;
}

.highlight {
    background-color: yellow;
}

.diff-input {
    resize: none;
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

/* Container to hold both text displays side by side */
.comparison-container {
    display: flex;
    justify-content: space-between;
}

.diff-container {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow-wrap: break-word;
}

/* Highlight added text */
.added {
    background-color: #d4fcbc;
}

/* Highlight removed text */
.removed {
    background-color: #fbb6c2;
}