.selection-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.selection-label {
    width: 150px; /* Adjust this width to align the buttons perfectly */
    font-size: 16px;
    font-weight: bold;
    color: #101010;
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    gap: 5px;
}

.btn {
    background-color: #eeeeee;
    color: #212529;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.btn:hover, .btn.selected {
    background-color: #3643f4;
    color: white;
}

